<!DOCTYPE html>
<html>
 
    <head>
        <title>Registration Form</title>
        <link rel="stylesheet" href="/css/style.css" type="text/css">
    </head>
 
    <body>
        <div class="simple-form">
            <form id="signup" name="signup" method="post" action="/signup">
                <input class="text" name="email" id="button" type="email" placeholder="Enter your E-mail" /><br><br>
                <input name="password" id="button" type="password" placeholder="Enter your password"/><br><br>
                <input class="btn" type="submit" id="butt" value="Sign Up" /><br><br>
            </form>
        </div>
    </body>
 
</html>