<!DOCTYPE html>
<html>
 
<head>
        <title>Signin Form</title>
        <link rel="stylesheet" href="/css/style.css" type="text/css">
    </head>
 
<body>
    <div class="simple-form">
        <form id="signin" name="signin" method="post" action="signin">
            <input class="text" name="email" type="text" id="button" placeholder="Enter your E-mail" /><br><br>
            <input name="password" type="password" id="button" placeholder="Enter your password"/><br><br>
            <input class="btn" id="butt" type="submit" value="Sign In" />
        </form>
    </div>
</body>
 
</html>
